In [1]:
from collections import namedtuple

In [6]:
User= namedtuple('User', 'name age')

In [9]:
karim = User(name='karim',age=32)
omr = User(name='Omr',age=5)

In [94]:
def print_to(x):
    print(*x)

In [95]:
print_to(karim)

karim 32

In [89]:
def transpose(data):
    """Transpose a data structure
    1. dict
    data = {'2017-8': 19, '2017-9': 13}
    In:  transpose(data)
    Out: [('2017-8', '2017-9'), (19, 13)]

    2. list of (named)tuples
    data = [Member(name='Bob', since_days=60, karma_points=60,
                   bitecoin_earned=56),
            Member(name='Julian', since_days=221, karma_points=34,
                   bitecoin_earned=78)]
    In: transpose(data)
    Out: [('Bob', 'Julian'), (60, 221), (60, 34), (56, 78)]
    """
    if isinstance(data,dict):
        return [data.keys(),data.values()]
    if isinstance(data,list):
#         result = list()
#         for item in data:
#              result.append([k for k in item])
        return list(zip(*data))

In [90]:
data = {'2017-8': 19, '2017-9': 13}

In [91]:
Member = namedtuple('Member','name since_days karma_points bitecoin_earned')
data = [Member(name='Bob', since_days=60, karma_points=60,
                   bitecoin_earned=56),
            Member(name='Julian', since_days=221, karma_points=34,
                   bitecoin_earned=78)]

In [92]:
transpose(data)

[('Bob', 'Julian'), (60, 221), (60, 34), (56, 78)]

In [41]:
for k,v in zip(data.keys(),data.values()):
    print(k,v)

2017-8 19
2017-9 13

In [42]:
print(*data)

2017-8 2017-9

In [43]:
x = transpose(data)

In [44]:
x

[('2017-8', '2017-9'), (19, 13)]

In [124]:
import random
from collections import namedtuple

years = random.sample('a b g d w'.split(),5)
pop = random.sample(range(10),5)

In [125]:
stats = {y:p for y,p in zip(years,pop)}
stats

{'d': 3, 'b': 8, 'g': 5, 'w': 4, 'a': 2}

In [126]:
out_transpose = [tuple(stats.keys()), tuple(stats.values())]
out_transpose

[('d', 'b', 'g', 'w', 'a'), (3, 8, 5, 4, 2)]

In [139]:
word_count = namedtuple('word_count',stats.keys())

In [140]:
word_stats = [word_count() for item in stats]

TypeError: type object argument after ** must be a mapping, not str

In [130]:
nt_stats

Stats(d=3, b=8, g=5, w=4, a=2)

In [137]:
list(zip(*stats))

[('d', 'b', 'g', 'w', 'a')]