# Lists

#### Faltern a List of Lists

In [30]:
cars = {
    'Ford': ['Falcon', 'Focus', 'Festiva', 'Fairlane'],
    'Holden': ['Commodore', 'Captiva', 'Barina', 'Trailblazer'],
    'Nissan': ['Maxima', 'Pulsar', '350Z', 'Navara'],
    'Honda': ['Civic', 'Accord', 'Odyssey', 'Jazz'],
    'Jeep': ['Grand Cherokee', 'Cherokee', 'Trailhawk', 'Trackhawk']
}

# List of Lists

models = list(cars.values())

In [31]:
# Using List comprehension
one_list= [l for model in models for l in model]

In [45]:
# Using itetools
from itertools import chain

one_list = list(chain(*models))
one_list_2 = list(chain.from_iterable(models))

# We are using list with output of chain since chain output an iterator
test = chain(*models)
type(test)

itertools.chain

In [48]:
# Using Sum 
## *** Which is not iffiecient

one_list = sum(models,[])

# Dictinaries

# NameTuple

In [1]:
from collections import namedtuple

In [2]:
# Create a NameTuple
Person = namedtuple('Person','name age')
Car = namedtuple('Car',['model','type'])

In [3]:
p1 = Person(name='karim',age=36)
c1 = Car(model='honda',type='suv')

#### Special Methods with Nametuple

In [9]:
# Get field names
p1._fields

('name', 'age')

In [10]:
# Create a new OrderedDict from NameTuple
p1._asdict()

OrderedDict([('name', 'karim'), ('age', 36)])

In [15]:
# Change the content of a field in a NameTuple
p1._replace(age=str(p1.age))

# here we changed from int to str the value of age

Person(name='karim', age='36')

In [20]:
# Create a NameTuple from a Dict
nour = dict(name='Nour',age=6)
nour = Person(**nour)
type(nour)

__main__.Person

# Special Methods